<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form" style="background-color: #F1EFEE; padding: 10px;">
      <h1 style="text-align: center;">totallister</h1>
      <section class="login_content">
        <form name="loginForm" autocomplete="off" ng-submit="login(loginForm.$valid)" novalidate>
          <h1>Login Form</h1>
          <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
            <input type="email" id="email" name="email" class="form-control" placeholder="Username" ng-model="user.username" required="" maxlength="200" required/>
          </div>
          <div ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$dirty }">
            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required="" ng-minlength="3" ng-maxlength="30" required/>
          </div>
          <div>
            <button type="submit" class="btn btn-default submit" ng-disabled='loginForm.$invalid || isLogin'>Log in</button>
            <img src="images/loader.gif" ng-show="isLogin">
            <a class="reset_pass" href="#">Lost your password?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">New to site?
              <a href="#signup" class="to_register"> Create Account </a>
            </p>
            <div class="clearfix"></div>
            <br />
          </div>
        </form>
      </section>
    </div>
  </div>
</div>    
<script src="js/custom.js"></script>